@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Erreur";
}
<div class="jumbotron">
    <h3 class="text-danger">Erreur.</h3>
    <h4 class="text-danger">Une erreur s'est produite pendant le traitement de votre demande.</h4>
</div>

