@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="jumbotron">
    <p>
        <a href="" class="btn btn">Lexique des moyens logistiques</a>
    </p>

</div>
