@{
    ViewBag.Title = "Contact";
}
<h2  class="text-info">@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="jumbotron">
    <address>
        AIRBUS OPERATIONS<br />
        ZU49 | MODULAIRE BUREAUX 0-RDC<br />
        Rue de l'Aviation, 44340 Bouguenais<br />

        <abbr title="Phone">P:</abbr>
        +33(0)627804105
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:papa.traore.external@airbus.com">papa.traore.external@airbus.com</a><br />
        @*
            <strong>Marketing:</strong> <a href="mailto:papa.traore.external@airbus.com">papa.traore.external@airbus.com</a>
        *@

    </address>
</div>
