@{
    ViewBag.Title = "AirAsset";
}
<h2>@ViewBag.Title</h2>


<div class="jumbotron">

    <!--
        <div align="center">
            <h2>AIRASSET</h2>
            <p class="lead"> Application de gestion de moyens logistiques.</p>



                <p>
                    <a href="http://localhost:50056/Moyens/Create" class="btn btn-primary btn-lg">Creer un moyen &raquo;</a>
                    <a href="http://localhost:50056/Exemplaires/Create" class="btn btn-primary btn-lg">Creer un exemplaire de moyen &raquo;</a>
                </p>


    </div>
      -->
    <!--
        <div align="center">
            <img border="0" src="~/Images/airasset_img_airbus3.PNG" style="width:1000px;height:200px;">
        </div>
    -->
    <div class="row">
        <div class="col-md-4">
            <h4>Lexique des moyens logistique</h4>
            
                La lexique des moyens logististique décrit l'ensemble des moyens logistiques utilisées chez Airbus.
            
            <p><a class="btn btn-default" href="~/Doc/lexiquesML.pdf">En savoir plus &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h4>Plan du site</h4>
            écrire quelque chose ici
            <p>
                <a class="btn btn-default" href="~/Doc/PlanSite.pdf">En savoir plus &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h4>Tuto</h4>
         
                écrire quelque chose ici
            
            <p>
                <a class="btn btn-default" href="">En savoir plus &raquo;</a>
            </p>
        </div>
    </div>

</div>




